# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.git
.dockerignore
.gitignore
.github/
README.md

docker/
.venv/
.vscode/
.ollama/

# Artifacts that will be built during image creation.
# This should contain all files created during `yarn build`.
frontend/dist
frontend/node_modules
frontend/npm-debug.log
frontend/.DS_Store

frontend/src/assets/examples
frontend/.nyc_output
frontend/coverage
frontend/vite.config.ts.timestamp-*
