services:
  frontend:
    build:
      context: ./
      dockerfile: ./docker/Dockerfile.frontend
      target: ${FRONTEND_BUILD_TARGET:-final}
      args:
        - VITE_*
    ports:
      - "${FRONTEND_PORT}:8080"
    volumes:
      - ./examples:/app/src/assets/examples
      - ./frontend/src:/app/src
    depends_on:
      jsonrpc:
        condition: service_healthy
    expose:
      - "${FRONTEND_PORT}"
    environment:
      - VITE_*

  jsonrpc:
    build:
      context: ./
      dockerfile: ./docker/Dockerfile.backend
      target: debug
    environment:
      # TODO: remove this in production
      - PYTHONUNBUFFERED=1
      - RPCDEBUGPORT=${RPCDEBUGPORT}
      - WEBREQUESTPORT=${WEBREQUESTPORT}
      - WEBREQUESTHOST=${WEBREQUESTHOST}
      - WEBREQUESTPROTOCOL=${WEBREQUESTPROTOCOL}
    ports:
      - "${RPCPORT}:${RPCPORT}"
      - "${RPCDEBUGPORT}:${RPCDEBUGPORT}"
    volumes:
      - ./.env:/app/.env
      - ./backend:/app/backend
    depends_on:
      database-migration:
        condition: service_completed_successfully
      webrequest:
        condition: service_healthy
    expose:
      - "${RPCPORT}"

  webrequest:
    build:
      context: ./
      dockerfile: ./docker/Dockerfile.webrequest
    shm_size: 2gb
    volumes:
      - ./.env:/app/webrequest/.env
      - ./webrequest:/app/webrequest
    environment:
      - WEBREQUESTSELENIUMPORT=${WEBREQUESTSELENIUMPORT}
      # TODO: remove this in production
      - PYTHONUNBUFFERED=1
    expose:
      - "${WEBREQUESTPORT}:${WEBREQUESTPORT}"
      - "${WEBREQUESTSELENIUMPORT}:${WEBREQUESTSELENIUMPORT}"
    depends_on:
      ollama:
        condition: service_started

  ollama:
    image: ollama/ollama:0.3.11
    ports:
      - 11434:11434
    volumes:
      - ./.ollama:/root/.ollama
    container_name: ollama
    tty: true
    restart: always

  postgres:
    image: postgres:16-alpine
    ports:
      - "${DBPORT}:5432"
    environment:
      - POSTGRES_USER=${DBUSER}
      - POSTGRES_PASSWORD=${DBPASSWORD}
      - POSTGRES_DB=${DBNAME}
    healthcheck:
      test: pg_isready -U ${DBUSER} -d ${DBNAME}
      interval: 10s
      timeout: 3s
      retries: 3

    # If you want your db to persist in dev
    # volumes:
    #  - "./data/postgres:/var/lib/postgresql/data"

  database-migration:
    build:
      context: .
      dockerfile: docker/Dockerfile.database-migration
    environment:
      - DB_URL=postgresql://${DBUSER}:${DBUSER}@postgres/${DBNAME}
      - WEBREQUESTPORT=${WEBREQUESTPORT}
      - WEBREQUESTHOST=${WEBREQUESTHOST}
      - WEBREQUESTPROTOCOL=${WEBREQUESTPROTOCOL}
    depends_on:
      postgres:
        condition: service_healthy
      webrequest:
        condition: service_healthy
