name: "Frontend Unit Tests"

on:
  workflow_call:
    secrets:
      codecov_token:
        required: true

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "21.x"
      - name: Copy examples to assets
        run: cp -r examples frontend/src/assets/examples

      - run: npm ci
        working-directory: frontend
      - run: npm run coverage
        working-directory: frontend

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          verbose: true
          token: ${{ secrets.codecov_token }}
          fail_ci_if_error: true
          directory: frontend/coverage
