name: Run Sonarless Scan

on:
  push:
    branches:
      - staging
      - sonar-scan
  workflow_dispatch:

jobs:
  Sonarless-Scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2.3.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
